<div *ngIf="signalrService.orderSignal() as order" class="container mt-5" style="margin-bottom: 40px">
  <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>
  <h2>Thank you. Your order is confirmed</h2>
  <p class="mb-4">
    Your order has not shipped yet, but this is to be expected as we are not a
    real store!
  </p>
  <div class="mb-4" style="margin-left: 20px">
    <p>
      <strong>Buyer Email: </strong>
      <span class="text-muted">{{ order.buyerEmail }}</span>
    </p>
    <p>
      <strong> Delivery Method: </strong><span class="text-muted">{{ order.deliveryMethod }}</span>
    </p>
    <p>
      <strong>Sub Total: </strong><span class="text-muted">{{ order.subtotal | currency }}</span>
    </p>
    <p>
      <strong>Discount: </strong><span class="text-primary">- {{ order.discount | currency }}</span>
    </p>
    <p>
      <strong>Shipping price : </strong><span class="text-muted"> {{ order.shippingPrice | currency }}</span>
    </p>
    <p>
      <strong>Total: </strong><span class="text-muted">{{ order.total | currency }}</span>
    </p>
    <p>
      <strong>Status: </strong><span class="text-muted">{{ order.status }}</span>
    </p>
    <p>
      <strong>Order Created: </strong>
      <span class="text-muted">{{ order.orderDate | date }}</span>
    </p>
  </div>
  <button routerLink="/orders/{{ order.id }}" class="btn btn-outline-success">
    View your order
  </button>
</div>
<div *ngIf="!signalrService.orderSignal() as order" class="container mt-5">
  <p>Order processing... please wait</p>
</div>