<div
  *ngIf="signalrService.orderSignal() as order"
  class="container mt-5"
  style="margin-bottom: 40px"
>
  <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>
  <h2>Thank you. Your order is confirmed</h2>
  <p class="mb-4">
    Your order has not shipped yet, but this is to be expected as we are not a
    real store!
  </p>
  <div class="mb-4" style="margin-left: 20px">
    <p><strong>Buyer Email:</strong> {{ order.buyerEmail }}</p>
    <p><strong> Delivery Method:</strong> {{ order.deliveryMethod }}</p>
    <p><strong>Sub Total:</strong> {{ order.subtotal }}</p>
    <p><strong>Shipping price :</strong> {{ order.shippingPrice }}</p>
    <p><strong>Total:</strong> {{ order.total }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
    <p><strong>Order Created: </strong>{{ order.orderDate | date }}</p>
  </div>
  <button routerLink="/orders/{{ order.id }}" class="btn btn-outline-success">
    View your order
  </button>
</div>
<div *ngIf="!signalrService.orderSignal() as order" class="container mt-5">
  <p>No Order</p>
</div>
