<carousel [isAnimated]="true">
  <slide>
    <img src="../images/hero1.jpg" alt="slide" />
  </slide>
  <slide>
    <img src="../images/hero2.jpg" alt="slide" />
  </slide>
  <slide>
    <img src="../images/hero3.jpg" alt="slide" />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <div>
      <h1>Welcome to the shop! </h1>
      <p style="padding: 0; margin :0;">This is just a test app for login and purchase please use this account</p>
      <small>Email: admin&#64;test.com {{" "}}<br></small>
      <small>Password: Pa$$w0rd</small>
      <small>Discount: farhan10</small>
      <small>Please use test credit card number: 5555 5555 5555 4444</small>
    </div>
  </div>
</section>