.quantity-style {
  font-size: 1.2em;
}

.picture-url {
  max-height: 50px;
}

.remove-basket-style {
  cursor: pointer;
  font-size: 2em;
}

.add-basket-style {
  cursor: pointer;
  font-size: 2em;
}

.remove-item-style {
  font-size: 2em;
  cursor: pointer;
}
